@model IEnumerable<Autonomize.Models.Usuario>

@{
    ViewData["Title"] = "Usuários";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="mb-0">Usuários</h2>
    <a asp-action="Create" class="btn btn-primary">+ Novo Usuário</a>
</div>

<div class="table-responsive shadow-sm rounded">
    <table class="table table-hover table-bordered bg-white">
        <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.NomeUsuario)</th>
            <th>@Html.DisplayNameFor(model => model.EmailUsuario)</th>
            <th>@Html.DisplayNameFor(model => model.TipoUsuario)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NomeUsuario</td>
                <td>@item.EmailUsuario</td>
                <td>@(System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(item.TipoUsuario))</td>
                <td>
                        <a asp-action="Edit" asp-route-id="@item.IDUsuario" class="btn btn-sm btn-outline-primary">✏</a>
                        <a asp-action="Details" asp-route-id="@item.IDUsuario" class="btn btn-sm btn-outline-info">🔎</a>
                        <a asp-action="Delete" asp-route-id="@item.IDUsuario" class="btn btn-sm btn-outline-danger">🗑️</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>