@model Autonomize.Models.Venda

@{
    ViewData["Title"] = "Apagar Venda";
}

<h2 class="mb-4 text-danger">Excluir Venda</h2>
    <div class="card p-4 shadow-sm mb-4 border border-danger">
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.QuantidadeVenda)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.QuantidadeVenda)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Produto.Descricao)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger me-2" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
    </div>
</div>
