@model Autonomize.Models.Cliente

@{
    ViewData["Title"] = "Detalhes Cliente";
}


<h2 class="mb-4">Detalhes do Cliente</h2>

<div class="card p-4 shadow-sm mb-4">

    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.CpfCnpj)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CpfCnpj)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
    </dl>
  <div class="d-flex justify-content-start gap-2">
        <a asp-action="Edit" class="btn btn-azul" asp-route-id="@Model?.Id">Editar</a> 
        <a asp-action="Index" class="btn btn-danger">Voltar</a>
    </div>
</div>

