@model IEnumerable<Autonomize.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="mb-0">Clientes</h2>
    <a asp-action="Create" class="btn btn-primary">+ Novo Cliente</a>
</div>

<div class="table-responsive shadow-sm rounded">
    <table class="table table-hover table-bordered bg-white">
        <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfCnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfCnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
                <td class="d-flex">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">✏</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">🔎</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">🗑️</a>
                </td>

        </tr>
}
    </tbody>
</table>
</div>