@model Autonomize.Models.Produto

@{
    ViewData["Title"] = "Detalhe Produto";
}


<h2 class="mb-4">Detalhes do Produto</h2>

<div class="card p-4 shadow-sm mb-4">
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.QuantidadeEstoque)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.QuantidadeEstoque)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.PrecoCompra)
        </dt>
        <dd class = "col-sm-9">
            @Model.PrecoCompra.ToString("c")
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.PrecoVenda)
        </dt>
        <dd class = "col-sm-9">
            @Model.PrecoVenda.ToString("c")
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.TiposProduto)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.TiposProduto.Nome)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ValorTotalCompra)
        </dt>
        <dd class="col-sm-9">
            @Model.ValorTotalCompra.ToString("c")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ValorTotalVenda)
        </dt>
        <dd class="col-sm-9">
            @Model.ValorTotalVenda.ToString("c")
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        
    </dl>
<div class="d-flex justify-content-start gap-2">
        <a asp-action="Edit" class="btn btn-azul" asp-route-id="@Model?.Id">Editar</a> 
        <a asp-action="Index" class="btn btn-danger">Voltar</a>
    </div>
</div>

