@model Autonomize.Models.Relatorio

@{
    ViewData["Title"] = "Apagar Relatório";
}

<h2 class="mb-4 text-danger">Excluir Relatório</h2>
<div class="card p-4 shadow-sm mb-4 border border-danger">
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.TipoItem)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.TipoItem)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.TipoAlteracao)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.TipoAlteracao)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DataFinal)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DataFinal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger me-2" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
