@model Autonomize.Models.Relatorio


@{
    ViewData["Title"] = "Relatório | Produtos";
    var DetalhesProdutos = ViewBag.DetalhesProdutos;
}


<div style="text-align:center;">
    <h1>Relatório de Clientes</h1>
    @* <p><strong>Filtros:</strong></p> <b>Data de Inicio:</b> @Model.DataInicio, </br><b>Data Final:</b>  @Model.DataFinal *@
    <hr />

    <h2>Relatório:</h2>
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead">
            <tr>
                <th scope="col" title="Identificador único de Produtos">Id</th>
                <th scope="col" title="Nome de Produto">Nome</th>
                <th scope="col" title="Descrição">Descrição</th>
                <th scope="col" title="Tipo de Produto">Tipo de Produto</th>
                <th scope="col" title="Quantidade Máxima em estoque">Quantidade</th>
                <th scope="col" title="Preço de compra">Preço de Compra</th>
                <th scope="col" title="Preço de venda">Preço de Venda</th>
                <th scope="col" title="Item está ativo ou não.">Ativo</th>
                <th scope="col" title="Data de Cadastro">Data de Cadastro</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var prod in ViewBag.Produtos) {
                <tr>
                    <th scope="row">@prod.Id </th>
                    <td>@prod.Nome</td>
                    <td>@prod.Descricao</td>
                    <td>@prod.TiposProduto</td>
                    <td>@prod.QuantidadeEstoque</td>
                    <td>R$@prod.PrecoCompra </td>
                    <td>R$@prod.PrecoVenda</td>
                    <td>@prod.Ativo</td>
                    <td>@prod.DataCadastro.ToString("dd/MM/yyyy")</td>
                </tr>
            }
            <tr>
                <th scope="row" colspan="8">
                    <p>Quantidade Total de Produtos</p>
                </th>
                <td>
                    <p><b>@DetalhesProdutos.QuantidadeTotal</b></p>
                </td>
            </tr>
            <tr>
                <th scope="row" colspan="8">
                    <p>Total Possível Lucro</p>
                </th>
                <td>
                    <p><b>R$@DetalhesProdutos.ValorTotalVenda</b></p>
                </td>
            </tr>
            <tr>
                <th scope="row" colspan="8">
                    <p>Despesa Total</p>
                </th>
                <td>
                    <p><b>@DetalhesProdutos.ValorTotalCompra</b></p>
                </td>
            </tr>

        </tbody>
    </table>

    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
        <input type="submit" value="Adicionar" class="btn btn-success " />
        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
    </div>
</div>