@model List<Historico>
@{
    var relatorio = ViewBag.Relatorio as Relatorio;
}

 <div class="d-flex justify-content-start gap-2">
        <a asp-action="Index" class="btn btn-danger">Voltar</a>
        <a asp-action="Edit" class="btn btn-azul" asp-route-id="@Model?.Id">Editar</a> 
    </div>

<h1>Detalhes - @relatorio.Nome</h1>

<p><strong>Filtro: </strong>@relatorio.TipoItem, @relatorio.TipoAlteracao, @relatorio.DataInicio.ToShortDateString(), @relatorio.DataFinal.ToShortDateString()</p>

<div>
    <table class="table">
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Alteração</th>
            <th>Data</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Nome </td>
                <td>@item.TipoItem </td>
                <td>@item.TipoAlteracao </td>
                <td>@item.DataRegistro </td>
            </tr>
        }
    </table>
</div>

